<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{url_for('static', filename='logo.png') }}" type="image/png">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block title %}
    <!-- Titolo-->
    {% endblock %}
    <script src="https://cdn.tailwindcss.com"></script>

    <script type="text/javascript" src="https://app.termly.io/resource-blocker/8c6122ee-57f2-4680-b04d-e494b865f890?autoBlock=on"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
    <meta name="google-site-verification" content="9aaDj14Xwj0vc1qqSnMG29igpzkK5Qow9o1ZK7qLi9U" />
</head>
<body class="min-h-screen bg-gradient-to-br from-blue-600 via-indigo-600 to-purple-600 text-white flex flex-col items-center px-4 py-12">

    {% block content %}
    <!-- Contenuto specifico della pagina -->
    {% endblock %}
    
    <footer class="mt-20 w-full border-t border-indigo-700 pt-8 pb-6 text-center text-indigo-300 text-sm">
        <p>&copy; 2025 Quizzify All rights reserved.</p>
        <p class="mt-1 mb-4">Created with <span class="text-yellow-400">♥</span> by Simone Bitti</p>

        <div class="flex justify-center text-gray-400 mt-10">
            <a href="/privacypolicy" class="hover:text-gray-500 mr-5">Privacy Policy</a>
            <a href="/cookiepolicy" class="hover:text-gray-500">Cookie Policy</a>
        </div>
    </footer>

    {% block scripts %}
    <!-- scripts -->
    {% endblock %}
</body>
</html>
